<?xml version="1.0" encoding="UTF-8"?>
<launch>
  <node name="server" pkg="sphere_control" type="joystick_control_server.py" output="screen"/>
  <node name="driver" pkg="sphere_control" type="joystick_control_drive.py" output="screen"/>
  <include file="$(find raspicam_node)/path/camera_module_v2_640x480_30fps.launch"/>
  <node pkg="rosservice" type="rosservice" name="camera_startup" args="call --wait /raspicam_node/start_capture" />
</launch>
